li {
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    list-style-image: url(my_triangle.png);
}
h1 {
    text-align: center;
    color: darkred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}